<div class="container-fluid g-0">
  <app-header></app-header>

<main>
  <div class="toolbar">
    <div class="add-employee">
      <button type="button" class="btn btn-success m-2 ">Add Employee</button>
    </div>
  </div>

  <!-- area to display employee -->
<div class="row mt-5">
  <div class="col text-center">
    <span class="text-secondary fs-2 fw-bold fst-italic">there are no employee to added</span>
  </div>
</div>

</main>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="first name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="last name">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <h6 class="text-secondary fst-italic">Personal Information</h6>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label></label>
            </div>
            <div class="col">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Insert</button>
      </div>
    </div>
  </div>
</div>

